/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* ---------------------------------------------- Font Import start */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;0,900;1,400;1,700&display=swap');

/* ---------------------------------------------- Font Import end */

/* ---------------------------------------------- Global Styling start */

body,
html {
    height: 100%;
    font-family: "Poppins", sans-serif;
    background-color: #ffffff;
}

/* ---------------------------------------------- Global Styling end */

/* ---------------------------------------------- Colours start */

.active.rainbow-border {
    border: 10px solid;
    border-image-slice: 1;
    border-width: 0 0 3px 0;
    border-image-source: linear-gradient(to right, red, orange, yellow, green);
}

.landing-background {
    width: 100vw;
    background-image: url(../images/background.svg);
    background-repeat: no-repeat;
    background-size: auto;
}

/* ---------------------------------------------- Colours end */

/* ---------------------------------------------- Navbar start */

.logo-font {
    font-weight: 600;
    font-size: 1.75rem;
}

.logo {
    height: 40px;
    width: 40px;
}

/* ---------------------------------------------- Navbar end */

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 767.98px) { }

/* Medium devices (tablets, 768px and up) */
@media (max-width: 991.98px) {
    .logo-font {
        font-weight: 600;
        font-size: 1.25rem;
    }

    .logo {
        height: 30px;
        width: 30px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 1199.98px) { }
