/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* ---------------------------------------------- Font Import start */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;0,900;1,400;1,700&display=swap');

/* ---------------------------------------------- Font Import end */

/* ---------------------------------------------- Global Styling start */

body,
html {
    height: 100%;
    font-family: "Poppins", sans-serif;
    background-color: #ffffff;
}

.full-height {
    position: relative;
    height: 100vh;
    width: 100vw;
    padding-top: 68px;

    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.top-padding {
    padding-top: 68px;
}

/* ---------------------------------------------- Global Styling end */

/* ---------------------------------------------- Colours start */

.active.rainbow-border {
    border: 10px solid;
    border-image-slice: 1;
    border-width: 0 0 3px 0;
    border-image-source: linear-gradient(to right, red, orange, yellow, green);
}

.rainbow-divider-long {
    width: 100%;
    height: 2px;
    background:linear-gradient(to right, red, orange, yellow, green);
}

/* SVG from https://bgjar.com/ */
.landing-background {
    width: 100vw;
    background-image: url(../images/background.svg);
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;
}

/* ---------------------------------------------- Colours end */

/* ---------------------------------------------- Navbar start */

.logo-font {
    font-weight: 600;
    font-size: 1.75rem;
}

.logo {
    height: 40px;
    width: 40px;
}

/* ---------------------------------------------- Navbar end */

/* ---------------------------------------------- Landing start */

.landing-content-height {
    height: calc(100vh - 68px);
}

.landing-font {
    font-size: 4.5rem;
}

/* ---------------------------------------------- Landing end */

/* ---------------------------------------------- Contact page start */

.contact-page { 
    background-color: #d4dbe3;
}

.rainbow-divider-short {
    width: 20%;
    height: 2px;
    background: linear-gradient(to right, red, orange, yellow, green);
}

.btn-rainbow {
    background: linear-gradient(to right, red, orange, yellow, green);
}

.image-fit-cover {
    -o-object-fit: cover;
    object-fit: cover;
}

.team-member {
    margin-bottom: 2rem;
    text-align: center;
  }
  .team-member img {
    width: 9rem;
    height: 9rem;
    border: 0.2rem solid  orange;
  }
  .team-member h4 {
    margin-top: 2rem;
    margin-bottom: 0;
  }
  .img-brand {
    height: 2.75rem;
  } 

  .right-arrow {
    right: 0em !important;
    top: 40% !important;
}

.left-arrow {
    left: 0em !important;
    top: 40% !important;
}

.large-padding {
    padding-left: 150px;
    padding-right: 150px;
}

/* ---------------------------------------------- Contact Page end */


/* ---------------------------------------------- Events Page start */
 .card {
     justify-content: center;
 }
 
/* ---------------------------------------------- Events Page end */

/* ---------------------------------------------- Charities page start */

.charities-banner-bg{
    height: calc(100vh - 68px);
    width: 100%;
    background: url(../images/pride-charities-banner-image.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
#charity-section{
    padding: 100px 50px;
}
.charity-org-1{
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 7px 11px 42px -15px rgba(0,0,0,0.6);
    -webkit-box-shadow: 7px 11px 42px -15px rgba(0,0,0,0.6);
    -moz-box-shadow: 7px 11px 42px -15px rgba(0,0,0,0.6);
}
.charity-org-2{
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 7px 11px 42px -15px rgba(0,0,0,0.6);
    -webkit-box-shadow: 7px 11px 42px -15px rgba(0,0,0,0.6);
    -moz-box-shadow: 7px 11px 42px -15px rgba(0,0,0,0.6);
}
.charity-img{
    width: 100%;
    height: 100%;
    object-fit: cover;    
    border: 1px solid black;
}
.charity-heading{
    padding: 30px 0;
}
.charity-info{
    padding: 30px 80px;
    text-align: center;
}
.values{
    list-style-type: none;
}
.no-underline{
    text-decoration: none;
}

.footer-items-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer a {
    color: inherit;
}

.charity-links {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

/* ---------------------------------------------- Charities page end */

/* ---------------------------------------------- Footer */

footer {
    color: #fff;
    background-color: slategray;
}

footer a {
    color: inherit;
}

.site-map {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
}

.social-links {
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-icon {
    padding: 0 10px;
}

.grow { 
    transition: all .2s ease-in-out; 
}

.grow:hover {
    color: #fff;
    transform: scale(1.3);
    text-decoration: none;
}

a:hover {
    color: #fff;
}

footer ul {
    margin-bottom: 0;
}

/* ---------------------------------------------- Footer end */


  
/* Small devices (landscape phones, 576px and up) */
@media (max-width: 767.98px) {
    .landing-font {
        font-size: 2.5rem;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 991.98px) {
    .logo-font {
        font-weight: 600;
        font-size: 1.25rem;
    }

    .logo {
        height: 30px;
        width: 30px;
    }
}

/* Large devices (desktops, 1200px and up) */
@media (max-width: 1199.98px) {
    .landing-font {
        font-size: 3.5rem;
    }

    .large-padding {
        padding-left: 30px;
        padding-right: 30px;
    }
}
